.newsList_item {
  border: 1px solid #f2f2f2;
  background: #fff;
  margin-top: 0px;
  padding: 8px 5px 0 5px;
}

.newsList_item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
}

.newsList_item a {
  text-decoration: none;
}

.newsList_wrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all .5s ease-in;
}

.newsList_wrapper_enter {
  opacity: 1;
  transform: translateX(0%);
}

.newsList_item_main {
  display: flex;
  border-bottom: 2px solid #d5d5d5;
  background: #fff;
}

.newsList_item_main h2 {
  font-size: 12px;
  color:#525252;
}

.left {
  background-size: cover !important;
}

.left div {
  width:90px;
  height:90px;
  background-size:  40px !important;
  background-repeat: no-repeat !important;
  background-position:  center center !important;
}

.right {
  flex-grow: 1;
  padding: 10px;
}